@import "tailwindcss";

@font-face {
    font-family: 'Heveltica Nue';
    src: url("./assets/fonts/HelveticaNeueCyr-Light.woff2");
}

html {
    font-size: 63.5%;
}

@theme {
    --light-pale: #F9FFE3;
    --primary-font: "Heveltica Nue", sans-serif; 
    --font-color: '#4F5E30';
    --header-font-color: '#292929';
    --hover-font-color:'#828282';
    --bold:'700'
}

body {
    background-color: var(--light-pale);
    font-family: var(--primary-font);  
    color: var(--font-color); 
}

.bg-background {
    background-color: var(--light-pale);
} 

.text-accent {
    color: var(--font-color);
}

.text-small {
    font-size: 2rem;
}

.text-medium {
    font-size: 2.4rem;
}

.text-large {
    font-size: 3.6rem;
}
.section {
    padding-bottom: 23px;
}

.font-bold {
    font: 700;
}

